.fruit {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 250px;
}

.caption {
    display: block;
    text-align: center;
}

.btn-checkout {
    margin-top: 10px;
}